%p Olá!
%p Recebi sua mensagem e fiquei muito feliz com o seu interesse em participar da UpMe!
%p Desde 2015, a UpMe! vem impactando positivamente a vida de centenas de universitários,
%p professores e empresários em Florianópolis.
%p Agora estamos expandindo nossa atuação, reformulando nosso sistema e o acesso será liberado a um
%p número limitado de clientes.
%p Parabéns, você será um dos primeiros a conhecer nossa nova plataforma! ;)
%p Vai ser um prazer conectar projetos para ajudá-lo a crescer!
%p Abç,

Amanda Busato
%br
Founder