.landing-page
  .landing-container
    .landing-content
      .title.big-title Inturma agora é UpMe!
      %br
      .title.med-title Logo logo estaremos no ar
      %br
      %br

      %div
        .title.ns-title Fique por dentro!

        %form
          %div
            %input.ns-input{placeholder: 'escreva seu e-mail'}
            %button.ns-btn Enviar

      %br
      %iframe.video-yt{src: 'https://www.youtube.com/embed/Ehr_MLxgFZY', frameborder: '0'}
      %iframe.video-yt{src: 'https://www.youtube.com/embed/ZZciPmuiQ-0', frameborder: '0'}


#bottom-label Comece profissional
#bottom-logo
