<div class='container'>
<div class='row'>
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='/'>
      <%= image_tag 'landing/logo.png' %>
    </a>
    <button aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbarSupportedContent' data-toggle='collapse' type='button'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link'>Preços</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'>Blog</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'>Login</a>
        </li>
      </ul>
      <form class='form-inline'>
        <a class='btn btn-outline-primary' href='/registrar'>Cadastre-se</a>
      </form>
    </div>
  </nav>
</div>
</div>
<div class='container'>
  <br>
  <br>
  <div class='row'>
    <div class='col text-center'>
      <h1 class='huge-title'>Termos de Uso e Política de Privacidade</h1>
      <br>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <p>Para fins de adesão ao presente TERMO DE USO E POLÍTICA DE PRIVACIDADE, considera-se:</p>
      <p><strong>USUÁRIO(S)</strong> – Pessoa(s) física(s) ou jurídica(s) devidamente cadastrada(s) no endereço eletrônico da plataforma UpMe!, para ter acesso e/ou utilizar as funcionalidades do site;</p>
      <p> <strong>UpMe!​</strong> - Plataforma de divulgação de ofertas de projetos de alunos e professores universitários e de demandas reais de mercado de startups, micro e pequenas empresas, ONGs e instituições públicas, que disponibiliza aos USUÁRIOS funcionalidades para acesso, uso e compartilhamento das informações divulgadas em seu site.</p>
      
      <ol>
          <li>
            Apenas tem direito a uso e acesso à <strong>UpMe!​</strong> o <strong>USUÁRIO</strong> que seguir corretamente as instruções de cadastro e efetivamente se registrar na plataforma, sendo de total responsabilidade do USUÁRIO a autenticidade e a constante atualização das informações prestadas
            <ol>
              <li>O fornecimento de informação falsa pelo <strong>USUÁRIO</strong> caracteriza crime de falsidade ideológica, conforme dispõe o art. 299 do Código Penal Brasileiro.</li>
            </ol>
          </li>
          <li>
              Os dados de <strong>USUÁRIO</strong> colhidos pela <strong>UpMe!​</strong> serão utilizados apenas e tão somente
              pela própria UpMe!, especialmente para fins de desenvolvimento e melhoria dos seus
              serviços.
              <ol>
                  <li>A <strong>UpMe!​</strong> não divulgará, cederá ou comercializará os dados pessoais dos <strong>USUÁRIOS</strong> que constem nas fichas cadastrais. Exceto informações de e-mail e telefone das startups, micro e pequenas empresas, ONGs e instituições públicas em que o <strong>USUÁRIO</strong> for realizar trabalho pró-bono</li>
                </ol>
          </li>
          <li>
              No processo de cadastramento, o <strong>USUÁRIO</strong>, deverá efetuar a escolha de determinado LOGIN e SENHA, sendo estes elementos necessários para atingir acesso completo aos serviços e funcionalidades da <strong>UpMe!​</strong>. O <strong>USUÁRIO</strong> é o único responsável pela senha que escolher e por mantê-la em sigilo
          </li>
          <li>
              A <strong>UpMe!</strong> poderá divulgar, a qualquer tempo e a qualquer título, as ações de todos os <strong>USUÁRIOS</strong> que constem em áreas abertas e/ou em áreas de uso exclusivo dos <strong>USUÁRIOS</strong>.
          </li>
          <li>
              São de inteira responsabilidade do <strong>USUÁRIO</strong> as informações que venha a publicar na página da <strong>UpMe!</strong> que não se responsabiliza pelo eventual uso, por parte de terceiros, das informações disponibilizadas abertamente pelo <strong>USUÁRIO</strong>.
          </li>
          <li>
              À <strong>UpMe!</strong> faculta-se o uso dos dados cadastrais do <strong>USUÁRIO</strong> para composição de um perfil de <strong>USUÁRIOS</strong>, que será utilizado internamente.
          </li>
          <li>
              O <strong>USUÁRIO</strong> autoriza o uso de sua imagem e som em caráter irrevogável, irretratável e de forma gratuita pela <strong>UpMe!</strong>.
          </li>
          <li>
              A <strong>UpMe!</strong> constitui meio de divulgação, acesso e compartilhamento de oportunidades de pró-bono universitário e de contribuição a projetos, não sendo responsável, por qualquer forma, pela adesão, desenvolvimento e conclusão das atividades e projetos divulgados em seu site.
          </li>
          <li>
              À <strong>UpMe!</strong> cabe a cobrança de uma taxa de operação pelo match, ou seja, pela promoção do encontro entre startups, micro e pequenas empresas, ONGs ou instituições públicas e projetos de alunos e professores universitários. A Taxa de operação pelo match não possui valor correspondente ao valor de mercado dos projetos, nem quaisquer associação com a natureza e valor dos mesmos.
          </li>
          <li>
              As atividades e projetos divulgados em seu site devem ser levados a efeito diretamente pelo <strong>USUÁRIO</strong> junto à ENTIDADE cadastrada, não sendo de responsabilidade da UpMe! eventuais danos pessoais ou materiais, bem como eventual inadimplemento das condições acordadas entre <strong>USUÁRIO</strong> e ENTIDADE
          </li>
          <li>
              <strong>Normas e Conduta</strong>
              <ol>
                <li>
                    Fica expressamente proibido ao <strong>USUÁRIO</strong> a utilização da UpMe!​ para qualquer atividade, lícita ou não, que conflite com as Normas de Uso da rede social.
                </li>
                <li>
                    Os dados de acesso do <strong>USUÁRIO</strong> à UpMe! são de uso pessoal, privativo e intransferível, obrigando-se o <strong>USUÁRIO</strong> a não fornecer a terceiros os seus dados de acesso, responsabilizando-se o <strong>USUÁRIO</strong> por qualquer uso indevido de seu cadastro na <strong>UpMe!</strong>.
                </li>
                <li>
                    Ao <strong>USUÁRIO</strong> fica expressamente proibida a realização de mais de um cadastro. Por conseguinte, cada <strong>USUÁRIO</strong> será individualmente identificado e terá dados de acesso únicos e exclusivos.
                </li>
                <li>
                    Ao utilizar textos, fotografias e outras obras de terceiros, o <strong>USUÁRIO</strong> deve, obrigatoriamente, obter as necessárias licenças de uso de tais obras e, ainda, as autorizações de utilização de imagem de terceiros.
                </li>
                <li>
                    Qualquer violação a direitos autorais de terceiros será de inteira responsabilidade do <strong>USUÁRIO</strong>, estando este sujeito às condições da cláusula de Propriedade Intelectual.
                </li>
                <li>
                    A <strong>UpMe!</strong> pode, sem aviso prévio, retirar o conteúdo inserido pelo <strong>USUÁRIO</strong> no portal, que não atender às licenças de uso e direito autoral.
                </li>
              </ol>
          </li>
          <li>
              <strong>Do Desligamento do USUÁRIO</strong>
              <ol>
                <li>
                    A <strong>UpMe!</strong> reserva-se ao direito de cancelar o registro e o acesso do <strong>USUÁRIO</strong> à plataforma, de forma total e/ou parcial, a qualquer tempo, sem que, para tanto, seja necessário prévio aviso ao <strong>USUÁRIO</strong> e/ou qualquer forma de justificativa.
                </li>
                <li>
                    A inobservância a qualquer dispositivo do TERMO DE USO ensejará o desligamento imediato do <strong>USUÁRIO</strong> e, via de consequência, o impedimento de acesso. Não obstante, o <strong>USUÁRIO</strong> poderá solicitar à <strong>UpMe!</strong> a reconsideração da decisão de seu desligamento. Eventual violação aos dispositivos do TERMO DE USO poderá ser sanada pelo <strong>USUÁRIO</strong>, a qualquer tempo, podendo o próprio instruir sua solicitação de reconsideração de desligamento com a comprovação de saneamento de pendência ou violação. Todavia, caberá à <strong>UpMe!</strong>, de forma soberana, a seu único e exclusivo critério, decidir sobre o cancelamento definitivo do acesso do <strong>USUÁRIO</strong> ou, por outro lado, sua readmissão. A decisão de readmissão do <strong>USUÁRIO</strong> representará mero ato de liberalidade da <strong>UpMe!</strong>, não representando, em nenhuma hipótese, qualquer alteração nas condições do TERMO DE USO. O <strong>USUÁRIO</strong> poderá realizar, a qualquer tempo, seu desligamento da <strong>UpMe!</strong>
                </li>
              </ol>
          </li>
          <li>
              <strong>Do Encerramento das Operações da UpMe</strong>
              <ol>
                  <li>
                      O encerramento, definitivo e/ou temporário, das atividades da <strong>UpMe!</strong>não resultará em qualquer obrigação, seja de que natureza for, da <strong>UpMe!</strong>para com o <strong>USUÁRIO</strong>, inclusive no que diz respeito à comunicação prévia de tal fato, compensação, pagamento e/ou indenização, a qualquer tempo e título.
                  </li>
              </ol>
          </li>
      </ol>
     
    
   
    </div>
  </div>
</div>
<footer class='footer text-center'>
    <%= image_tag 'landing/logo-footer.png' %>
</footer>
