/* line 1, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
body {
  font-family: 'Lato';
}

/* line 4, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
img {
  max-width: 100%;
}

/* line 7, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-section {
  margin-top: 96px;
  margin-bottom: 96px;
}

/* line 11, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.blue-section {
  background: #EBFBFF;
  padding-top: 96px;
  padding-bottom: 96px;
}

/* line 16, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-note {
  position: absolute;
  left: -80px;
  top: 220px;
}

/* line 21, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.huge-title {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  line-height: 53px;
  font-size: 52px;
  color: #232323;
}

/* line 30, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.sub-title {
  font-family: Lato;
  font-style: italic;
  font-weight: 800;
  line-height: 33px;
  font-size: 32px;
  text-align: center;
  color: #232323;
}

/* line 40, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-section p.lead {
  margin-top: 22px;
  margin-bottom: 45px;
}

/* line 44, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
p.lead {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 19px;
  color: #000000;
}

/* line 52, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.btn-blue {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  background: #00C7FF;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 16px 24px !important;
  border: none;
}

/* line 64, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.btn-blue:hover {
  background-color: #00C7FF;
}

/* line 67, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.navbar {
  background-color: transparent !important;
  margin-top: 32px;
  width: 100%;
}

/* line 72, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.values {
  margin-bottom: 128px;
}

/* line 75, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.values .sub-title {
  margin-top: 16px;
  margin-bottom: 20px;
}

/* line 79, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-avatar-container {
  position: relative;
}

/* line 82, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-phrase {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  position: relative;
  color: #000000;
  min-height: 124px;
}

/* line 93, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-phrase:before {
  content: '';
  background-image: url(/assets/landing/quote-64aeb7e0f89ef1f249b545912326b2928ee06d96a37fc218f4ca4249ed173e93.png);
  height: 48px;
  position: absolute;
  display: block;
  width: 48px;
  background-repeat: no-repeat;
  left: -20px;
  top: -24px;
}

/* line 104, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/* line 109, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-avatar {
  border-radius: 100px;
  width: 128px;
  height: 128px;
}

/* line 114, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.testimonial-play {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}

/* line 120, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.play-note {
  position: absolute;
  left: -25px;
  top: 110px;
}

/* line 125, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.media {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* line 129, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.bg-blue-font {
  font-family: Lato;
  font-style: italic;
  font-weight: 800;
  line-height: 20vw;
  font-size: 20vw;
  text-align: center;
  color: #afeeff;
}

/* line 139, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.blue-font-phrase {
  position: absolute;
  font-family: Lato;
  font-style: italic;
  font-weight: 800;
  line-height: 33px;
  font-size: 32px;
  text-align: center;
  color: #333333;
}

/* line 150, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.media .sub-title {
  margin-top: 30px;
}

/* line 153, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.media-logos {
  margin: 50px;
}

/* line 156, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.form-control {
  height: 60px !important;
  background: rgba(255, 255, 255, 0.31);
  border: 2px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}

/* line 164, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
label {
  font-size: 20px;
  color: #828282;
}

/* line 170, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.footer {
  margin: 80px 0px 20px 0px;
}

/* line 173, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.form-inline {
  margin-left: 24px !important;
}

/* line 176, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.cta .huge-title {
  margin-bottom: 30px;
}

/* line 179, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.cta-note {
  position: absolute;
  right: -10px;
  top: -110px;
}

/* line 184, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.cta-brush {
  position: absolute;
  top: 117px;
  left: -6px;
}

/* line 189, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-brush,
.hero-brush-1 {
  position: absolute;
}

/* line 193, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-brush-1 {
  top: 110px;
  left: 7px;
  z-index: -1;
}

/* line 198, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.hero-brush {
  top: 173px;
  z-index: -1;
}

/* line 202, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.btn-outline-primary {
  color: #00C7FF;
  border-color: #00C7FF;
}

/* line 206, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
.btn-outline-primary:hover {
  background-color: #00C7FF;
  border-color: #00C7FF;
}

/* line 210, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 214, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .hide-cta-note {
    display: none;
  }

  /* line 218, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .bg-blue-font {
    line-height: 40vw;
    font-size: 40vw;
  }

  /* line 223, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .numbers-mobile {
    margin-bottom: 80px;
  }

  /* line 227, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .blue-font-phrase {
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
  }

  /* line 233, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .video-container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  /* line 241, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .testimonial-phrase {
    margin-top: 80px;
    min-height: 90px;
  }

  /* line 245, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .testimonial-phrase:before {
    left: 0;
  }

  /* line 248, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .values p.lead {
    margin-bottom: 60px;
  }

  /* line 251, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .play-note {
    left: -15px;
    top: 127px;
  }

  /* line 255, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .hero-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* line 259, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .navbar {
    margin-top: 0;
  }

  /* line 262, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .hero-note {
    display: none;
  }

  /* line 265, /Users/pauloj/dev/upmeapp/app/assets/stylesheets/landing_page.scss */
  .hero-section iframe {
    height: 180px;
    margin-top: 40px;
  }
}
