%p
  = "Parabéns! Sua empresa foi selecionada para atender o projeto #{@project.title}."
  %br
  Acesse agora mesmo o seu novo projeto.
  = link_to 'Página do projeto', project_url(@project)

%p
  Use a linha do tempo para trocar mensagens com sua equipe.