%p
  = "Poxa! Infelizmente o projeto #{@project.title} está procurando outro perfil de empresa para atendê-lo(a)!."
  %br
%p
  Para visualizar mais oportunidades de projetos, acesse:
  %br
  = link_to 'Explorar', explore_url