%p
  = "Poxa! Infelizmente #{@project_owner.nome_empresa} está procurando outro perfil de candidato para atendê-lo(a)!."
  %br
%p
  Para visualizar mais oportunidades de jobs na sua área, acesse:
  %br
  = link_to 'Explorar', explore_url