- pages = current_spina_user.present? ? Spina::Page.active : Spina::Page.live


- #menu = Spina::Pages::MenuPresenter.new(pages.in_menu.arrange(order: :position), self, @page)
- #menu.list_class = 'nav'
- #menu.list_item_css = 'nav-item'
= #menu.to_html

- #pages.each do |page|
= #link_to page.url_title, '/blog' + page.materialized_path


.container{style: 'padding: 15px 10px;'}
  .row
    .col-md-6
      = link_to '/' do
        = image_tag 'landing/logo', height: 42
    .col-md-6.text-right
      %input.input-search-blog{placeholder: "Pesquisa"}

  /
    %ul.nav.navbar-nav.navbar-left
      %li{class: action_name == 'homepage' ? 'active' : ''}
        %a{href: '/blog'}
          Blog
          %span.sr-only (current)