

= render partial: 'project_team'

- if @project.client_id != current_user.id
  %a.waves-effect.waves-light.modal-trigger.upme-btn-blue{href: '#invitation-modal'}
    Convide seu time

#invitation-modal.modal
  = form_tag invite_user_to_project_path(@project.id) do |f|
    .modal-content
      %h4 Convide seu time

      = text_field_tag :email, '', placeholder: 'Digite o email de quem você quer convidar.'
    .modal-footer
      %a.modal-action.modal-close.waves-effect.btn-flat{href: '#!'} Cancelar
      %button.modal-action.waves-effect.btn-flat{type: :submit} Convidar


:javascript
  $('.modal').modal();
