
%a.waves-effect.waves-light.modal-trigger.btn-invite-your-team{href: '#invitation-modal'}
  = image_tag 'app/invite-your-team.svg'
  %br
  Convide seu time

= render partial: 'project_team'


#invitation-modal.modal
  = form_tag invite_user_to_project_path(@project.id) do |f|
    .modal-content
      %h4 Convide seu time

      = text_field_tag :email, '', placeholder: 'Digite o email de quem você quer convidar.'
    .modal-footer
      %a.modal-action.modal-close.waves-effect.btn-flat{href: '#!'} Cancelar
      %button.modal-action.waves-effect.btn-flat{type: :submit} Convidar


:javascript
  $('.modal').modal();
