- if @payments.where(status: :aguardando).any?
  Seu pagamento esta aguardando confirmação, espere a solicitação receber atualização para prosseguir.
  Se o pagamento for negado por algum motivo, você poderá efetuar uma nova tentativa de pagamento.
- else
  = form_tag charges_path do
    = hidden_field_tag "stripeToken"
    = hidden_field_tag "project_id",@project.id
    %article
    - if flash[:error].present?
      %p= flash[:error]
    %label.amount
      %span
      Valor: R$ 500,00
    %script.stripe-button{"data-amount" => "50000", "data-description" => "match payment", "data-key" => ENV["stripe_publishable_key"], "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
