<%= render 'layouts/upme_nav' %>
<div class="container">
  <div class="row">
    <div class="col s12 m2"></div>
    <div class="col s12 m8">
      <h4 class="upme-sub-title left-align">Editar Projecto</h4>
    </div>
    <div class="col s12 m2"></div>
  </div>
</div>
<%= render 'form' %>
<%= render 'layouts/upme_footer' %>
