= render 'layouts/upme_nav'

.container
  .row
    .col-12.col-md-3
      = render partial: 'project_tabs', locals: { project: @project }
    .col-12.col-md-6
      .card
        .card-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis,
          velit ut euismod sodales, ante diam ornare est, eu dictum odio ex et neque.
          Vivamus vulputate ante in turpis lobortis rhoncus. Mauris vitae quam
          porta, maximus mauris at, efficitur lectus. Nullam rutrum viverra
          lorem, vel fringilla odio porttitor at. Vestibulum et hendrerit eros.
          Duis felis dui, pharetra in elit et, consectetur pharetra enim. Fusce
          vitae mauris ornare, consequat sem et, finibus turpis. Vestibulum
          dictum ante quis metus auctor commodo. Mauris euismod vulputate
          libero, eu vestibulum enim pretium consequat. Nulla scelerisque
          lobortis condimentum.

= render 'layouts/upme_footer'
