<%= render 'layouts/upme_nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% if sou_empresa? %>
         <div class="upme-sub-title">Criar demanda</div>
      <% end %>
      <% if sou_professor? %>
        <div class="upme-sub-title">Criar projeto</div>
      <% end %>
      <br>
    </div>
  </div>
</div>

<%= render 'form' %>
<%= render 'layouts/upme_footer' %>
