<%= render 'layouts/upme_nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'project_tabs', locals: { project: @project } %>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body private-project-box">
          <div class="label">Linha do tempo</div>
          <div class="upme-loading"></div>
          <div id="timeline"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <%= render partial: 'project_right_bar', locals: { project: @project } %>
    </div>
  </div>
</div>
<%= render 'layouts/upme_footer' %>
<script>



  function refresh_timeline(html) {
    $( "#timeline" ).html( html );
    $( '.upme-loading').hide();
    $( '.modal' ).modal();

    $('.edit-step-data').click(function(event) {
      event.stopPropagation();
      $('#' + $(this).attr('data-modal')).modal('open');
    });

    $('.timeline-comment-submit').click(function() {
      $( '.upme-loading').show();
      $( "#timeline" ).html( '' );

      var form = $(this).parent();
      $.ajax({
        type: "POST",
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data)
        {
          refresh_timeline(data);
        }
      });
    });

    $('.collapsible').collapsible();

    if($('#scroll-here').length) {
      $('html,body').animate({scrollTop: $('#scroll-here').offset().top});
    }
  }

  #{@project.started == true ? "$(\".upme-loading\").show();".html_safe : "$(\".upme-loading\").hide();".html_safe }

  $.get( "#{show_timeline_url(@project.id)}", function( data ) {
    refresh_timeline(data);
  });


</script>
