<div class="upme-logo-container">
</div>
<div class="row">
  <div class="col m8 offset-m2">
    <h1 class="center-align huge-title">Selecione sua(s) área(s) de interesse</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="paper-box" style="position:relative;">
        <img src="https://i.imgur.com/YlgHHD7.png" class="note-areas" alt="">
        <div class="row">
          <div class="col s6 m3 center-align">
            <button class="tag-shortcut upme-image-btn" data-tag="Design"></button>
            <div class="bottom-image-label">Design</div>
          </div>
          <div class="col s6 m3 center-align">
            <button class="tag-shortcut upme-image-btn" data-tag="Administração"></button>
            <div class="bottom-image-label">Administração</div>
          </div>
          <div class="col s6 m3 center-align">
            <button class="tag-shortcut upme-image-btn" data-tag="Arquitetura"></button>
            <div class="bottom-image-label">Arquitetura</div>
          </div>
          <div class="col s6 m3 center-align">
            <button class="tag-shortcut upme-image-btn" data-tag="Engenharias"></button>
            <div class="bottom-image-label">Engenharias</div>
          </div>
        </div>
        <br>
        <div class="tag-list">
          <div class="upme-loading"></div>
        </div>
        <div class="input-field">
          <label for="input-add-tag" class="label-upme">Buscar áreas</label>
          <br>
          <input id="input-add-tag" type="text" placeholder="Buscar área(s) de interesse">
        </div>
        <div class="row">
          <div class="col s6">
            <%= link_to explore_path do %>
                <%= button_tag 'Voltar', class: 'btn-full-width btn-upme btn-upme-gray', type: :button %>
            <% end %>
          </div>
          <div class="col s6">
            <button type="button" id="btn-save-areas-de-interesse" class="btn-full-width btn-upme btn-upme-blue">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m2"></div>
  </div>
</div>
<br>
<br>