<div class="upme-logo-container">
</div>
<h1 class="center-align">Selecione sua(s) área(s) de interesse</h1>
<div class="container upme-form-container">
  <div>
    <button class="tags-hotkey" data-tag="Design">DESIGN</button>
    <button class="tags-hotkey" data-tag="Administração">ADMINISTRAÇÃO</button>
    <button class="tags-hotkey" data-tag="Arquitetura">ARQUITETURA</button>
    <button class="tags-hotkey" data-tag="Engenharia">ENGENHARIA</button>
  </div>
  <br>
  <div class="tag-list">

  </div>
  <input id="input-add-tag" type="text">
</div>