.post {
    max-width: 970px;

    margin: 0px auto;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
    color: #4F4F4F;

}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: Lato;
    color: #333333;
}

.post figure {
    text-align: center;
}


h2 {
    line-height: 42px;
    font-size: 42px;
}

.first_post_image {
    width:100%;
}

.post-image {
    max-width: 100%;
}

.category_bar {
    height: 78px;
    width:100%;
    background: #00C7FF;
    display: block;
}

.left-bar {
    padding: 60px 25px 15px 25px;
}

.right-bar {
    padding: 60px 25px 15px 25px;
}

.post-row {
    padding: 15px;
}

.post-logo-top {
    width:100%;
    height:400px;
    background-position: center center;
    background-size: 100% auto;
}

.post-title {
    font-style: italic;
    font-weight: 800;
    line-height: 43px;
    font-size: 42px;
    color: #333333;
}

.huge-title {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  line-height: 53px;
  font-size: 52px;

  color: #232323;
}

.post-list-title {
  font-family: Lato;
  font-style: italic;
  font-weight: 800;
  line-height: 33px;
  font-size: 32px;
  color: #333333;
}

.post-list-subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #4F4F4F;
}

.blue-label {
  font-family: Lato;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  color: #00C7FF;
}


.input-search-blog {
  border: 2px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  line-height: normal;
  font-size: 16px;
  color: #BDBDBD;
  padding: 6px 12px;
}