
.upme-image-btn {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.upme-image-btn:focus {
  background-color: transparent !important;
}
