@import 'variables';


.btn-full-width {
    width: 100%;
    margin: 0px;
  }

.btn {
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    font-style: initial !important;
    height: 48px;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
}
.btn-primary {
    @extend .btn;
    background-color: $blue;
    border: none;
    &:hover {
        background-color: darken($blue, 3%);
    }
    &:active,
    &.focus,
    &:focus {
        background-color: darken($blue, 5%) !important;
    }
}
.btn-success {
    @extend .btn;
    background-color: $green;
    border: none;
    &:hover {
        background-color: darken($green, 3%);
    }
    &:active,
    &.focus,
    &:focus {
        background-color: darken($green, 5%) !important;
    }
}
.btn-success.disabled {
  @extend .btn;
  background-color: $green;
  border: none;
  cursor: initial !important;
  &:hover {
      background-color: $green;
  }
  &:active,
  &.focus,
  &:focus {
    background-color: $green;
  }
}
.btn-default {
  @extend .btn;
  color: $grey;
  border: 1px solid $border-color;
  
  &:hover {
    background-color: $bg-light;
    color: $grey;
  }
  &:active,
  &.focus,
  &:focus {
      background-color: darken($bg-light, 5%) !important;
  }
}
.nav-item .btn-default {
  border: none;
}
.btn-icon {
  width: 4rem;
  height: 4rem;
  padding: .5rem !important;
}
.tag-upme-blue {
  padding: 8px 16px !important;
  font-size: 16px !important;
  line-height: 14px !important;
  height: 32px;
  font-style: italic !important;
  border: none !important;
  border-radius: 4px !important;
  text-align: center;
  background: $blue !important;
  color: #ffffff;
  cursor: initial;
  display: inline-block
}

.btn-upme-gray {
  background: #F5F5F5;
  color: #4F4F4F;
}
.btn-upme-outline-grey {

  color: $grey;
  border: 2px solid $border-color;
  background-color: white;
}
.btn-upme-outline-white {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
.btn-upme-outline-blue {
  background-color: white;
  color: $blue;
  border: 2px solid $blue;
}
.btn-small {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
  height: 2rem;
  &.btn-icon {
    width: 2rem;
    height: 2rem;
  }
}
button:focus {
  background-color: initial !important;
}