@import 'variables';


.btn-full-width {
    width: 100%;
    margin: 0px;
  }

.btn {
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    font-style: initial !important;
    height: 48px;
    border: none;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
}
.btn-primary {
    @extend .btn;
    background-color: $blue;
    &:hover {
        background-color: darken($blue, 3%);
    }
    &:active,
    &.focus,
    &:focus {
        background-color: darken($blue, 5%) !important;
    }
}
.btn-default {
  @extend .btn;
  color: $grey;
  &:hover {
    background-color: $bg-light;
    color: $grey;
  }
  &:active,
  &.focus,
  &:focus {
      background-color: darken($bg-light, 5%) !important;
  }
}
  .btn-upme-blue {
    background: $blue;
    color: #ffffff;
  }
  
  .btn-upme-white {
    background: white;
    color: #333;
  }
  
  .tag-upme-blue {
    padding: 8px 16px !important;
    font-size: 16px !important;
    line-height: 14px !important;
    height: 32px;
    font-style: italic !important;
    border: none !important;
    border-radius: 4px !important;
    text-align: center;
    background: $blue !important;
    color: #ffffff;
    cursor: initial;
    display: inline-block
  }
  
  .select2-selection__choice {
    padding: 8px 16px !important;
    font-size: 16px !important;
    line-height: 14px !important;
    height: 32px;
    font-style: italic !important;
    border: none !important;
    border-radius: 4px !important;
    text-align: center;
    background: $blue !important;
    color: #ffffff;
    display: inline-block
  }
  
  .select2-selection__choice__remove {
    color: #fff !important;
  }
  
  .btn-upme-gray {
    background: #F5F5F5;
    color: #4F4F4F;
  }
  .btn-upme-outline-grey {
  
    color: $grey;
    border: 2px solid $border-color;
    background-color: white;
  }
  .btn-upme-outline-white {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
  }
  .btn-upme-outline-blue {
    background-color: white;
    color: $blue;
    border: 2px solid $blue;
  }
  .btn-small {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 14px;
    height: 32px;
  }
  button:focus {
    background-color: initial !important;
  }