@import '_variables';

.form-control {
    border: 2px solid $border-color;
    min-height: 3rem;
    border-radius: .5rem;
}
.form-control:focus {
    border-color: $blue;
}
.select2-container--default.select2-container .select2-selection--multiple {
    border: 2px solid $border-color;
    min-height: 3rem;
    border-radius: .5rem;
    width: 100%;
}