@media screen and (max-width: 480px) {
    .up-navbar {
      height: 4rem !important;
    }
    .navbar-brand img {
      height: 2rem !important;
    }
    .profile-image-navbar {
      width: 2rem !important;
      height: 2rem !important;
    }
    .navbar-nav {
      height: 2rem !important;
    }

  }