.ns-form-s1, .ns-form-s2, .ns-form-s3 {
  display: none;
}

.ns-form-success {
  font-family: 'Lato', sans-serif;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: inline-block;
  border: 1px solid #3c763d;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.ns-form-error {
  font-family: 'Lato', sans-serif;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: inline-block;
  border: 1px solid #a94442;
  padding: 5px;
  border-radius: 5px;
  display: none;
}