@import 'variables';
p {
    size: 1rem;
    color: $grey;
}
.card-body p {
    margin-bottom: 1rem;
}
.label {
    font-weight: 700 !important;
    font-size: 1rem !important;
    color: $black !important;
}

.label-light {
    @extend .label;
    color: #fff !important;
}

.label-title {
    @extend .label;
    color: $grey !important;
}
.title {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 2rem;
    color: $black !important;
}
.text {
    color: $grey;
    font-size: 1rem;
}
.text-link {
    @extend .text;
    &:hover {
        color: $black;
    }
}
.text-small {
    @extend .text;
    font-size: .875rem;    
}
ul {
    list-style: none;
}