
$blue: #00C7FF;
$black: #333;
$grey: #666;
$border-color: #ECECEC;

body {
  font-family: 'Lato', sans-serif;
  color: $black;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

// COMPONENTS
.paper-box {
  width: 100%;
  border: 2px solid $border-color;
  border-radius: 4px;
  padding: 48px;
  position: relative;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:before {
    content: '';
    border: 2px solid $border-color;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -2;
  }
}
.help-text {
  font-style: italic;
  line-height: 14px;
  font-size: 14px;
  color: #828282;
}
.btn-full-width {
  width: 100%;
  margin: 0px;
}
.big-font-form {
  font-style: italic !important;
  font-weight: 940000;
  font-size: 32px !important;
  color: #333333;
  padding: 8px 0px !important;
}
.label-upme {
  font-weight: 800 !important;
  font-size: 14px !important;
  color: #666 !important;
}
.collapsible-body .label-upme {
  margin-top: 24px;
  margin-bottom: 8px;
}
.btn-upme {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  font-style: initial !important;
  height: 48px;
  border: none;
  text-align: center;
}

.btn-upme-blue {
  @extend .btn-upme;
  background: $blue;
  color: #ffffff;
}

.btn-upme-gray {
  background: #F5F5F5;
  color: #4F4F4F;
}
.btn-upme-outline-grey {
  @extend .btn-upme;

  color: $grey;
  border: 2px solid $border-color;
  background-color: transparent;
}
.btn-upme-outline-blue {
  @extend .btn-upme;
  background-color: transparent;
  color: $blue;
  border: 2px solid $blue;
}
.btn-small {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
button:focus {
  background-color: initial !important;
}
.upme-sub-title {
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  font-size: 22px;
  color: $grey;
}
.project-box {
  @extend .paper-box;
  &:hover {
    margin-top: -8px;
   }
}
.project-title {
  line-height: 24px;
  font-size: 24px;
  font-weight: 800 !important;
  color: $black;
  margin-top: 8px;
  margin-bottom: 8px;
}
.project-description {
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.paper-box .label-upme {
    margin-top: 24px;
    margin-bottom: 8px;
}
.private-project-box, {
  @extend .paper-box;
  margin-top: -20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-height: 400px;
  > .label-upme {
    margin-top: 24px;
    margin-bottom: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
  .timeline {
    margin-left: -50px;
    margin-right: -50px;
  }
}
.timeline-step-header {
  border: 2px solid $border-color !important;
  margin-bottom: -2px;
  position: relative;
  height: 64px;
  padding: 20px 16px;
  .label-upme {
    margin-top: 4px;
  }
}
.timeline-step-body {
  .upme-sub-title {
    color: #333;
  }
}
.timeline-step-check {
  border: 2px solid $border-color !important;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  top: 14px;
  left: -18px;
  background-color: #fff;
}

.upme-tab {
  display: table;
  border-bottom: 2px solid $border-color;
  width: 100%;
  margin-top: 48px;
  padding-bottom: 10px;
  li {
    display: inline-block;
    padding-right: 16px;
    a {
      padding-bottom: 6px;
      &:hover {
        color: $black;
      }
    }
    .active {
      color: $blue;
      border-bottom: 4px solid $blue;
      &:hover {
        color: $blue;
      }
    }
  }
}
.upme-tab-title {
  @extend .upme-sub-title;
  border-bottom: 2px solid transparent;
}
// GENERAL STYLES

.display-none {
  display: none;
}

.upme-logo-container {
  background-image: image_url('app/logo.png');
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0px 28px 0px;
}

.upme-form-container {
  background: #FFFFFF;
  border: 2px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 48px;
}

.upme-container {
  max-width: 800px;
}

.u-label {
  font-family: Lato;
  line-height: 17px;
  font-size: 14px;
  color: #333333;
}

.u-italic {
  font-style: italic;
}

.u-btn-big {
  color: #FFFFFF;
  line-height: 23px;
  font-size: 20px;
  background: #00C7FF;
  border-radius: 4px;
  border: 1px solid #00C7FF;
  width: 80%;
  height: 60px;
  margin: 10%;
}
.u-link-med {
  font-family: Lato;
  line-height: normal;
  font-size: 20px;
  color: #00C7FF;
}

.huge-title {
  font-family: Lato !important;
  font-style: italic !important;
  font-weight: 800 !important;
  line-height: 48px !important;
  font-size: 48px !important;
  color: #333333 !important;
  margin: 0;
}

.bottom-image-label {
  font-family: Lato;
  font-style: italic;
  font-weight: 500;
  line-height: 23px;
  font-size: 24px;
  text-align: center;
  color: #BDBDBD;
}

.chip {
  background: #00C7FF !important;
  border-radius: 4px !important;
  font-family: Lato !important;
  font-style: italic !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
}

.upme-loading-ellipse {
  background-image: image_url('app/ellipse');
  height:70px;
  width: 70px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: spin 2s infinite linear;
  display: block;

  @-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
  }
}

.upme-loading-label {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #828282;
  text-align: center;
  padding: 5px;
}

.upme-action-bar-bg {
  background: #00C7FF;
  border-top: solid 1px #BDBDBD;
}

.upme-action-bar {
}

@media screen and (max-width: 768px) {
  .upme-form-container {
    padding: 24px;
  }

  .upme-btn-a, .upme-btn-b {
    padding: 8px;
    font-size: 14px;
    margin: 8px
  }

  h1 {
    line-height: 26px !important;
    font-size: 28px !important;
  }
}

.upme--small {
  height: 2rem !important;
}

.upme-bolder {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  font-size: 14px;
  color: #666666;
}

.upme-btn-cancel {
  border: 2px solid #BDBDBD !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  font-family: Lato !important;
  color: #666666 !important;
  background: #FFFFFF !important;
}

.waves-effect.waves-light-blue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(0, 199, 255, 0.5);
 }
 .no-projects-icon-plus {
   color: $border-color;
   height: 64px !important;
   width: 64px !important;
 }

@media only screen and (min-width: 993px) {
  .container {
      width: 1170px !important;
  }
}
p {
  margin: 0;
}
.btn-invite-your-team {
  border: 2px solid $blue;
  border-radius: 4px;
  padding: 16px;
  @extend .upme-sub-title;
  color: $blue;
  text-align: center;
}
.collapsible {
  box-shadow: none !important;
  border: 0 !important;
}
label {
  font-size: 100% !important;
}
// PRETTY IMAGE CHECKBOX AND RADIO
[type="checkbox"].pretty-image-checkbox + label:before,
[type="radio"].pretty-image-checkbox + label:before {
  display: none;
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  display: block;
}

[type="radio"].pretty-image-checkbox + label,
[type="checkbox"].pretty-image-checkbox + label
 {
     background: #d0d0d0;
     height: 128px !important;
     width: 128px !important;
     display:inline-block;
     border-radius: 128px;
     position: relative;
     transition: all .1s ease-in-out;
 }
 [type="radio"].pretty-image-checkbox:checked + label,
 [type="checkbox"].pretty-image-checkbox:checked + label
  {
      background: #00C7FF;
      display:inline-block;
      position: relative;
  }
  [type="radio"].pretty-image-checkbox + label:after,
  [type="checkbox"].pretty-image-checkbox + label:after {
     content: url(https://i.imgur.com/wOPxOBG.png);
     color: #fff;
     text-align: center;
     line-height: 34px;
     display: block;
     width: 34px;
     height: 34px;
     border: 3px solid #fff !important;
     border-radius: 34px;
     background-color: #00C7FF;
     position: absolute;
     right: 0;
     top: 0;
     opacity: 0;
     transition: all .1s ease-in-out;
  }
  [type="radio"].pretty-image-checkbox:checked + label:after,
  [type="checkbox"].pretty-image-checkbox:checked + label:after
  {
     opacity: 1;
  }
  [type="radio"].pretty-image-checkbox:checked + label .pretty-checkbox-image,
  [type="checkbox"].pretty-image-checkbox:checked + label .pretty-checkbox-image
  {
     -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
    
  }
  [type="radio"].pretty-image-checkbox:checked + label .pretty-checkbox-name,
  [type="checkbox"].pretty-image-checkbox:checked + label .pretty-checkbox-name
  {
   color: #00C7FF;
  }
  .pretty-checkbox-image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 14px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .6;
  }
  .pretty-checkbox-name {
    display: block;
    color: #666;
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .note-areas {
    position: absolute;
    left: -110px;
    top: 20px;
  }
  .invitation-button {
    position: absolute;
    right: 24px;
    top: 34px;
  }
  .paper-box p {
    color: #666;
    font-size: 16px;
  }
  .comment-row {
    padding-left: 16px;
    border-left: 2px solid $blue;
    margin-bottom: 24px;
  }
  .comment-avatar {
    width: 32px;
    height: 32px;
  }
  .comment-username {
    display: inline-block;
    line-height: 32px;
    vertical-align: top;
    font-size: 16px;
    margin-left: 8px;
  }
  .comment-message {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .comment-info {
    font-size: 14px;
  }
.dark-link {
  color: #666;
}
.input-field label:not(.label-icon).active {
  transform: translateY(-14px) scale(1) !important;
}
.input-field label {
  top: -18px !important;
}
@media screen and (max-width: 480px) {
  body {
    position: relative;
  }
  [type="radio"].pretty-image-checkbox + label,
  [type="checkbox"].pretty-image-checkbox + label {
    height: 96px !important;
    width: 96px !important;
  }
  [type="radio"].pretty-image-checkbox + label:after,
  [type="checkbox"].pretty-image-checkbox + label:after {
    top: -10px;
  }
  .pretty-checkbox-image {
    height: 72px;
  }
  .paper-box {
    position: relative;
    padding: 24px;
    left: 0;
    right: 0;
  }
  .pretty-checkbox-name {
    font-size: 13px;
  }
}


.upme-badge-number {
  border-radius: 15px !important;
  min-width: 15px !important;
  margin: -5px 0px 0px 4px !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 900 !important;
}