@import 'variables';

.upme-nav {
  background: #FFFFFF;
  border-bottom: 2px solid #ECECEC;
  box-sizing: border-box;
  height: 80px;
}

.upme-nav-item {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: #828282;
  display: inline-block;
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: center 25%;
  height: 80px;
  line-height: 110px;
  text-align: center;
  margin-left: 16px;
  padding: 0 8px;
}

.upme-nav-item:hover {
  cursor: pointer;
  color: #00C7FF;
}

.upme-nav-compass-active div {
  color: #00C7FF;
  background-image: image_url('app/nav/compass-hover.svg');
  border-bottom: 4px solid #00C7FF;
}

.upme-nav-clipboard-active div {
  color: #00C7FF;
  background-image: image_url('app/nav/clipboard-hover.svg');
  border-bottom: 4px solid #00C7FF;
}


.nav-bg-user { background-image: image_url('app/nav/user.svg'); }
.nav-bg-user:hover { background-image: image_url('app/nav/user-hover.svg'); }

.nav-bg-clipboard { background-image: image_url('app/nav/clipboard.svg'); }
.nav-bg-clipboard:hover { background-image: image_url('app/nav/clipboard-hover.svg'); }

.nav-bg-compass {
  background-image: image_url('app/nav/compass.svg');
  background-size: 30% auto;
}
.nav-bg-compass:hover { background-image: image_url('app/nav/compass-hover.svg'); }

.upme-nav-logo {
  background-image: image_url('app/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  height: 80px;
  display: inline-block;
}


@media screen and (max-width: 768px) {
  .upme-nav-logo {
    background-size: 100% auto;
  }
}


#upme-notifications {
  position: absolute;
  background: #ffffff;
  top: 80px;
  right: 0px;
  width: 400px;
  z-index: 999999;
  border: 2px solid #ECECEC;
  border-top: none;
  padding-bottom: 12px;
  border-radius: 0px 0px 0px 4px;
}

.upme-notification {
  color: #333333;
  padding: 16px;
  border-bottom: 1px solid #ECECEC;
  background: #FFF;
  font-size: 14px;
}

.upme-notification-read {
  border-left: $blue 4px solid;
  background: #ECFBFF;
}

.notification-date {
  font-size: 11px;
  color: #666666;
}

#notifications-link {
  position: relative;
}

#unread-notifications-size {
  background: #fb3028;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding: 0px 4px;
  position: absolute;
  top: -20px;
  right: 8px;
}