@import '_variables';

.up-navbar {
  background-color: #fff;
}
.navbar-collapse {
  background-color: #fff;
}
.upme-nav-logo {
  background-image: image_url('app/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
}


@media screen and (max-width: 768px) {
  .upme-nav-logo {
    background-size: 100% auto;
  }
}


#upme-notifications {
  position: absolute;
  background: #ffffff;
  top: 67px;
  right: 0px;
  width: 400px;
  z-index: 999999;
  border: 2px solid #ECECEC;
  border-top: none;
  padding-bottom: 12px;
  border-radius: 0px 0px 0px 4px;
}

.upme-notification {
  color: #333333;
  padding: 16px;
  border-bottom: 1px solid #ECECEC;
  background: #FFF;
  font-size: 14px;
}
.upme-notification-link {
  text-decoration: none !important;
  &:hover span {
    color: $blue !important;
    text-decoration: none !important;
  }
}
.upme-notification-link span {
  text-decoration: none !important;
}
.upme-notification-read {
  border-left: $blue 4px solid;
  background: #ECFBFF;
}

.notification-date {
  font-size: 11px;
  color: #666666;
}

#notifications-link {
  position: relative;
}

#unread-notifications-size {
  background: #fb3028;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 4px;
  position: absolute;
  top: 0px;
  right: 0px;
}
#profile-dropdown {
  right: 0px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  left: initial;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
.dropdown-toggle::after {
  display: none;
}
.profile-image-navbar {
  margin-left: 1rem;
  box-shadow: 0px 0px 0px 0px #eee;
  transition: all .25s ease;
  &:hover {
    box-shadow: 0px 0px 0px 8px #eee;
  }
}
.mobile-footer-nav {
  height: 3rem;
  background-color: #fff;
  box-shadow: 0px -5px 25px rgba(0,0,0,.1);
  display: flex !important;
  justify-content: center;
  padding-top: .5rem;
  .btn {
    padding: .5rem .5rem;
  }
}
.dropdown {
  z-index: 99;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}
.collapse.show {
  z-index: 99;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
  transition: all .15s ease-in-out;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.menu-toggle {
  cursor: pointer;
  display: inline-block;
  padding: 13px;

  .bar {
      width: 1.5rem;
      height: 3px;
      background: lighten(#000, 50%);
      display: block;
      margin-bottom: 5px;
      border-radius: 5px;
  }
}

.ex {
  .bar {
      transition: all 300ms;
  }

  &.clicked {
      .upper {
          transform: translateY(9px) rotate(45deg);
      }

      .middle {
          opacity: 0;
      }

      .lower {
          transform: translateY(-7px) rotate(-45deg);
      }
  }
}
.nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: $grey;
}

.app-body .slideout-panel {
  background-color: $bg-light;
}
.menu-mobile {
  background-color: $black;
  .nav-link {
    color: rgba(255,255,255,.8);
    &:hover,
    &:active {
      background-color: rgba(255,255,255,.05);
      color: rgba(255,255,255,1);
    }
  }
  .label-light {
    padding: 1rem;
  }
  .btn-default {
    color: rgba(255,255,255,.8);
  }
}
