.upme-alert-success, .upme-alert-danger, .upme-alert-notice, .upme-alert-alert {
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  line-height: 34px;
  font-size: 22px;
  color: #333333;
  bottom: 28.75%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 16px 24px 16px;
  margin-top: 32px;
  height: 80px;
  background: #FFFFFF;
}

.upme-icon-success, .upme-icon-danger, .upme-icon-alert {
  border-radius: 100%;
  padding: 6px;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
}

.upme-alert-text {
  position: absolute;
  padding-left: 12px;
  margin-top: -2px;
}

// SUCCESS
.upme-alert-success, .upme-alert-notice {
  border: 2px solid #0FD990;
}
.upme-icon-success {
  background: #0FD990;
}

//DANGER
.upme-alert-danger, .upme-alert-alert {
  border: 2px solid #FB3028;
}
.upme-icon-danger, .upme-icon-alert {
  background: #FB3028;
}

.upme-alert-invitation {
  border: 2px solid #ECECEC;
  padding: 34px;
  border-radius: 4px;
  margin-top: 24px;
  position: relative;
  .upme-sub-title {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .upme-alert-success, .upme-alert-notice, .upme-alert-danger, .upme-alert-alert {
    font-size: 16px;
    padding: 14px 10px;
    height: 48px;
    line-height: 18px;
  }

  .upme-icon-success, .upme-icon-danger, .upme-icon-alert {
    padding: 4px;
    width: 20px;
    height: 20px;
  }
}
