
$blue: #00C7FF;
$black: #333;
$grey: #666;
$border-color: #ECECEC;


body {
  font-family: 'Lato', sans-serif;
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

// COMPONENTS
.paper-box {
  width: 100%;
  border: 2px solid $border-color;
  border-radius: 4px;
  padding: 48px;
  position: relative;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &:before {
    content: '';
    border: 2px solid $border-color;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -2;
  }
}

.btn-full-width {
  width: 100%;
  margin: 0px;
}
.big-font-form {
  font-style: italic !important;
  font-weight: 940000;
  font-size: 32px !important;
  color: #333333;
  padding: 8px 0px !important;
}
.label-upme {
  font-weight: 800 !important;
  font-size: 16px !important;
  color: #666 !important;;
}
.btn-upme {
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  font-style: initial !important;
  height: 48px;
  border: none;
  text-align: center;
}

.btn-upme-blue {
  @extend .btn-upme;
  background: $blue;
  color: #ffffff;
}

.btn-upme-gray {
  background: #F5F5F5;
  color: #4F4F4F;
}
.btn-upme-outline-grey {
  @extend .btn-upme;

  color: $grey;
  border: 2px solid $border-color;
}
.btn-upme-outline-blue {
  @extend .btn-upme;

  color: $blue;
  border: 2px solid $blue;
}
.btn-small {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}
.upme-sub-title {
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  font-size: 22px;
  color: $grey;
}
.project-box {
  @extend .paper-box;
  &:hover {
    margin-top: -8px;
   }
}
.project-title {
  line-height: 24px;
  font-size: 24px;
  font-weight: 800 !important;
  color: $black;
  margin-top: 8px;
  margin-bottom: 8px;
}
.project-description {
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.private-project-box {
  @extend .paper-box;
  margin-top: -18px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.upme-tab {
  display: table;
  border-bottom: 2px solid $border-color;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 48px;
  li {
    display: inline-block;
    padding-right: 16px;
    a:hover {
      color: $black;
    }
  }
}
.upme-tab-title {
  @extend .upme-sub-title;
  border-bottom: 2px solid transparent;
}
// GENERAL STYLES

.display-none {
  display: none;
}

.upme-logo-container {
  background-image: image_url('app/logo.png');
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0px 28px 0px;
}

.upme-form-container {
  background: #FFFFFF;
  border: 2px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 48px;
}

.upme-container {
  max-width: 800px;
}

.u-label {
  font-family: Lato;
  line-height: 17px;
  font-size: 18px;
  color: #333333;
}

.u-italic {
  font-style: italic;
}

.u-btn-big {
  color: #FFFFFF;
  line-height: 23px;
  font-size: 20px;
  background: #00C7FF;
  border-radius: 4px;
  border: 1px solid #00C7FF;
  width: 80%;
  height: 60px;
  margin: 10%;
}

.u-label-big {
  font-size: 2rem !important;
  font-family: Lato !important;
  font-style: italic!important;
  font-weight: 300 !important;
  line-height: normal !important;
  color: #BDBDBD !important;
}

.u-link-med {
  font-family: Lato;
  line-height: normal;
  font-size: 20px;
  color: #00C7FF;
}

h1 {
  font-family: Lato !important;;
  font-style: italic !important;;
  font-weight: 800 !important;
  line-height: 46px !important;;
  font-size: 48px !important;
  text-align: center !important;;
  color: #333333 !important;;
}

h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.bottom-image-label {
  font-family: Lato;
  font-style: italic;
  font-weight: 500;
  line-height: 23px;
  font-size: 24px;
  text-align: center;
  color: #BDBDBD;
}

.upme-image-btn {
  width: 128px;
  height: 128px;
  background-image: image_url('app/image-radio/black-and-white');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.upme-image-btn-selected {
  background-image: image_url('app/image-radio/color');
}

.upme-image-btn:focus {
  background-color: transparent !important;
}

.chip {
  background: #00C7FF !important;
  border-radius: 4px !important;
  font-family: Lato !important;
  font-style: italic !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
}

.upme-loading-ellipse {
  background-image: image_url('app/ellipse');
  height:70px;
  width: 70px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: spin 2s infinite linear;
  display: block;

  @-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
  }
}

.upme-loading-label {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #828282;
  text-align: center;
  padding: 5px;
}

.upme-action-bar-bg {
  background: #00C7FF;
  border-top: solid 1px #BDBDBD;
}

.upme-action-bar {
}

.upme-btn-a, .upme-btn-b {
  font-size: 18px;
  font-family: Lato;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 50px;
  line-height: 45px;
  padding: 0px 16px;
}

.upme-btn-a {
  border: 2px solid #FFFFFF;
  color: #ffffff;
  background: #00C7FF;
}

.upme-btn-b {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.3);
}

.upme-btn-c {
  background: #FFFFFF;
  border: 2px solid #ECECEC;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  line-height: 40px;
  font-family: Lato;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #828282;
}

@media screen and (max-width: 768px) {
  .upme-form-container {
    padding: 24px;
  }

  .upme-btn-a, .upme-btn-b {
    padding: 8px;
    font-size: 14px;
    margin: 8px
  }

  h1 {
    line-height: 26px !important;
    font-size: 28px !important;
  }
}

.upme-input-small {
  height: 2rem !important;
}

.upme-bolder {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  font-size: 14px;
  color: #666666;
}


.upme-btn-cancel {
  border: 2px solid #BDBDBD !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  font-family: Lato !important;
  color: #666666 !important;
  background: #FFFFFF !important;
}

.waves-effect.waves-light-blue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(0, 199, 255, 0.5);
 }
 .no-projects-icon-plus {
   color: $border-color;
   height: 64px !important;
   width: 64px !important;
 }

@media only screen and (min-width: 993px) {
  .container {
      width: 1170px !important;
  }
}