.upme-btn-md {
  font-family: 'Lato', sans-serif;
  background: #ff9300;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
}

.upme-input-md {
  border: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 7px;
  width: 200px;
}

.upme-btn-md:hover {
  cursor: pointer;
  background: #28d6ff;
}

.upme-med-title {
  font-family: 'Lato', sans-serif;
  color: white;
}