.landing-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px;
  padding-right: 0px;
  padding-left:0px;
  margin:0px auto;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0px;
  min-height: 450px;
}

.landing-container{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("landing/bg-wide.png");
  background-size: 100% auto;
  background-position: right 15%;
  margin: 0px;
}

.landing-content {
  width: 50%;
  top: 20%;
  right: 5%;
  position: absolute;
  height: 75%;
}

.title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
}

.big-title {
  font-size: 36px;
}

.med-title {
  font-size: 24px;
}

#bottom-label {
  font-family: 'Lato', sans-serif;
  position: absolute;
  bottom: 0px;
  color: #222;
  font-size: 28px;
  line-height: 28px;
  width: 200px;
  bottom: 15px;
  right: 170px;
}

#bottom-logo {
  position: absolute;
  background-image: url("landing/logo.png");
  width: 200px;
  height: 80px;
  bottom: 15px;
  right: 15px;
  background-size: cover;
  background-position: center center;
}

.video-yt {
  width: 206px;
  height: 130px;
}

@media only screen and (max-width: 1000px) {

  .landing-content {
    width: 100%;
    height: 70%;
    top: 10%;
    right: 0%;
  }

  .landing-container{
    background-size: auto 100%;
  }

  #bottom-label {
    font-size: 18px;
    width: 150px;
    line-height: 18px;
  }

}

@media only screen and (max-width: 600px) {
  .video-yt {
    width: 150px;
    height: 90px;
  }
}

@media only screen and (max-height: 350px) {
  #bottom-logo {
  }
  .title {
    display: none;
  }
}

.ns-input {
  height: 40px;
  width: 300px;
  border: none;
  padding: 0px 0px 0px 15px;
}

.ns-btn {
  padding: 0px;
  height: 40px;
  width: 100px;
  background: #00c6ff;
  color: white;
  border: none;
}

.ns-btn:hover {
  cursor: pointer;
  background: #1cccff;
}

.ns-title {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .ns-input {
    width: 190px;
  }
}

.newsletter-loading {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  color: #00ccff;
  background: #eee;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 4px;
}

.newsletter-error {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  color: #fc7b7b;
  background: #eee;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 4px;
}

.newsletter-success {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 16px;
  color: #2c8737;
  background: #eee;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 4px;
}

@media only screen and (max-height: 350px) {
  .ns-title {
    margin-top: 80px;
  }
}