%div.center-align
  = image_tag profilepic(current_user), class: 'circle', width: '130px', id: 'img-profilepic'
  %br
  .btn-upme-outline-grey.btn-small.modal-trigger.btn-square.btn-change-profilepic{data: {toggle: 'modal', target: '#modal-update-picture'}}
    %i.up-pencil


#modal-update-picture.modal.fade
  .modal-dialog
    
    = form_tag update_picture_path,class: 'modal-content', id: 'save-picture-form', method: :post, enctype: 'multipart/form-data' do
    
      .modal-header
        .modal-title Escolha sua foto

      .modal-body
        .file-field.input-field
          .btn
          .label selecione sua foto
          %br
          = file_field_tag :picture, id: 'input-user-picture'
          .file-path-wrapper{style: 'opacity: 0'}
            %input.file-path.validate{type: 'text'}

        .upme-loading.display-none
        %button.btn-default{type: 'button', data: {dismiss: 'modal'}} Cancelar
        %button.btn-primary#btn-save-picture{type: 'submit'} Salvar

:javascript
  $('.modal').modal();

  $('#btn-save-picture').click(function() {

    var formData = new FormData();
    formData.append('file', $('#input-user-picture')[0].files[0]);

    $('.upme-loading').fadeIn();

    $.ajax({
      url: $('#save-picture-form').attr('action'),
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      complete: function(xhr,status) {
        if(xhr.responseText != 'error') {
          $('#img-profilepic').attr('src', xhr.responseText);
        }
        $('#modal-update-picture').modal('hide');
        $('.upme-loading').fadeOut();
      }
    });


  });