%br
%br
%br

%div.center-align
  = image_tag logourl(current_user), width: '100px', class: 'profile-company-logo', id: 'img-logo'
  %br
  .btn-outline-default.btn-small.modal-trigger.btn-square.btn-change-logo{data: {toggle: 'modal', target: '#modal-update-logo'}, style: 'vertical-align: middle;',title: 'Alterar Logo da Empresa'}
    %i.up-pencil


#modal-update-logo.modal.fade
  .modal-dialog
    = form_tag update_logo_path,class: 'modal-content', id: 'save-logo-form', method: :post, enctype: 'multipart/form-data' do
      .modal-header
        - if current_user.empresa?
          .modal-title Escolha sua logo
        - else
          .modal-title Logo da universidade
      .modal-body
        .file-field.input-field
          %div
            - if current_user.empresa?
              Escolha sua logo
            - else
              Logo da universidade
            = file_field_tag :logo, id: 'input-user-logo'
            %br
          .file-path-wrapper{style: 'opacity:0'}
            %input.file-path.validate{type: 'text'}

      .upme-loading.display-none
      .modal-footer
        %button.btn-default{type: 'button', data: {dismiss: 'modal'}} Cancelar
        %button.btn-primary#btn-save-logo{type: 'submit'} Salvar

:javascript
  $('.modal').modal();

  $('#btn-save-logo').click(function() {

    var formData = new FormData();
    formData.append('file', $('#input-user-logo')[0].files[0]);

    $('.upme-loading').fadeIn();

    $.ajax({
      url: $('#save-logo-form').attr('action'),
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      complete: function(xhr,status) {
        if(xhr.responseText != 'error') {
          $('#img-logo').attr('src', xhr.responseText);
        }
        $('#modal-update-logo').modal('close');
        $('.upme-loading').fadeOut();
      }
    });


  });