= render 'layouts/upme_nav'
.explore-bg
.container
  = render 'areas_de_interesse/form' if current_user.user_area_de_interesse.size == 0
  .row
    .col.m7
      .page-header
        .title
          - if current_user.empresa?
            %span Ofertas de professores
          - else
            %span Demandas de empresas
    .col.m5
      -# %br
      -# .label-upme Filtre por área de interesse:
      -# %form{action: "", method: "GET"}
      -#   %select#e1{name: "areas[]", multiple: :multiple}
      -#     - AreaDeInteresse.all.order(name: :asc).each do |a|
      -#       - if @selected_areas.include? a.name
      -#         %option{:value => a.name, selected: "selected"}= a.name
      -#       - else
      -#         %option{:value => a.name}= a.name
      -#   %button.upme-btn-blue Buscar
  .row
    .col-lg-3
      .card
        .card-body
          .label Categorias
    .col-lg-9
      .row
        - projects_found = 0;
        - current_user.available_projects.each do |project|
          - find = false
          - project.project_area_de_interesse.each do |p|
            - find = true if @selected_areas.include? p.area_de_interesse.name
          - if find == true
            - projects_found += 1
            = render partial: 'projects/project_box', locals: { project: project }     
        - if projects_found == 0
          .upme-sub-title Nenhum projeto foi encontrado.
:javascript
  $(document).ready(function() {
    $("#e1").select2({
       tags: true,
       multiple: true
    });
  });


= render 'layouts/upme_footer'
