= render 'layouts/upme_nav'

%h1 ExploreController#index
%p Find me in app/views/explore/index.html.haml


= link_to 'Ãreas de interesse', areas_de_interesse_path, data: { 'turbolinks-action' => 'replace' }
= link_to 'Novo projeto', novo_projeto_path