= render 'layouts/upme_nav'
.container
  .row
    .col.m12
      %h4.upme-sub-title Projetos sem cliente
  .row
    .col.m3
      - Project.without_client.each do |project|
        .paper-box= link_to project.title, public_project_path(project.id)



