<%= render 'layouts/upme_nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Voltar', project_events_path, class: 'btn btn-xs btn-default pull-right' %>
    </div>
  </div>
</div>
<%= render 'layouts/upme_footer' %>
