<nav class='navbar navbar-expand-lg navbar-light up-navbar'>
<div class='container'>
  <a class='navbar-brand' href='/'>
    <%= image_tag 'app/logo-upme-vetor.svg' %>
  </a>
  <a class='btn btn-primary ml-auto btn-small d-block d-sm-none' href='/registrar'>Cadastre-se</a>
  <a class='btn menu-toggle ex d-block d-sm-none' id='mobile-menu-toggle'>
    <span class='bar upper'></span>
    <span class='bar middle'></span>
    <span class='bar lower'></span>
  </a>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto'>
      <li class='nav-item'>
        <a href="/precos" class='nav-link btn-default'>Preços</a>
      </li>
      <li class='nav-item'>
        <a href="/blog" target="_blank" class='nav-link btn-default'>Blog</a>
      </li>
      <li class=''>
        <a href="/entrar" class='nav-link btn-default with-border'>Login</a>
      </li>
      <li class='nav-item form-inline'>
        <a class='btn btn-primary' href="/registrar">Cadastre-se</a>
      </li>
    </ul>
  </div>
</div>
</nav>
