<div class="upme-nav">
  <div class="container">
    <div class="row">
      <div class="col s4 upme-nav-logo">
        &nbsp;
      </div>
      <div class="col s4 center-align">
        <div class="upme-nav-item nav-bg-compass">explorar</div>
        <div class="upme-nav-item nav-bg-clipboard">projetos</div>
      </div>
      <div class="col s4 right-align">
        <div class="upme-nav-item nav-bg-user">perfil</div>
      </div>
    </div>
  </div>
</div>