<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col m5 s12">
              <%= image_tag 'app/logo-footer.svg', class: 'logo-footer' %>
              <br>
              <br>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
            </div>
            <div class="col m7">
                <div class="row">
                    <div class="col m3 s6">
                        <ul>
                        <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Site</a></li>
                        <!-- <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Sobre nós</a></li>
                        <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Contato</a></li> -->
                        </ul>
                    </div>
                    <!-- <div class="col m3 s6">
                        <ul>
                        <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Universitários</a></li>
                        <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Professores</a></li>
                        <li><a href="https://upmeapp.com.br/?utm_source=footer-plataforma">Empresas</a></li>
                        </ul>
                    </div> -->
                    <div class="col m3 s6">
                        <ul>
                        <li><a href="https://upmeapp.com.br/blog/?utm_source=footer-plataforma">Blog</a></li>
                        <li><a href="https://www.facebook.com/upmeapp/">Facebook</a></li>
                        <li><a href="https://www.instagram.com/upmeapp/">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col m3 s6">
                        <ul>
                        <li><a href="/termos" tagert="_blank">Termos de uso</a></li>
                        <!-- <li><a href="#!">Tarifas</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </footer>