<!DOCTYPE html>
<html>
  <head>
    <title>Upmeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <meta id="viewport" name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
